form {
    margin-left: 5%;
    margin-top: 5px;
    color: white;
    font-size: 12px;
    line-height: 2pc;
}

.box-1 {
    margin-left: 100px;
}

.card-body {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #343a40;
    width: 97%;
    height: auto;
    padding: 10px;
    padding-bottom: 40px;
}

label {
    font-weight: 600;
}

#bookTitle, #bookYear, #bookAuthor, #bookPublisher, #bookSection, #bookEditionVolume{
    font-style: italic;
}

.borrowDD {
    padding: 5px;
    border-radius: 5px;
    width: 37%;
    font-style: italic;
}