.mini-sidebar {
    margin-left: 75px;
    margin-top: 9px;
    padding: 10px;
    list-style-type: none;
    border-radius: 10px;
    border: 2px solid grey;
    background-color: #333;
    width: 23%;
    height: 85vh;
}

a {
    text-decoration: none;
}

.mini-item {
    padding: 10px;
    color: white;
    font-size: 13px;
}

.mini-item:hover {
    background-color: grey;
    border-radius: 10px;
}

.mini-item:active {
    background-color: grey;
}

.active {
    border-radius: 10px;
}

.dash-box-1 {
    background-color: #333;
    color: #ffffff;
    border: 2px solid grey;
    width: 960px;
    height: 300px;
    margin-left: 310px;
    border-radius: 10px;
    margin-top: -70px;
    padding: 10px;
    height: 77vh;
}


.box-1 {
    padding: 15px;
    width: 500px;

}

.box-2 {
    padding: 15px;
    width: 500px;

}

input[type="text"] {
    width: 95%;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}

label {
    font-weight: 700;
    font-size: 13px;
    padding: 3px;
}

.form-select {
    width: 75%;
    font-size: 12px;
    margin-bottom: 25px;
    padding: 10px;
}

#save-btn {
    width: 100%;
    padding: 10px;
}

.dp-form {
    padding: 10px;
    margin-top: 10px;
}

.button-div {
    margin-top: 10px;
}

.dp-label {
    margin-bottom: 10px;
    padding-bottom: 10px;
}


 /*
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: black; 
    */